.section3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  gap: 20px;
  padding: 15px;
}
.section3-wrapper{
  display: flex;
  flex-direction: column;
  gap :25px;
  max-width: 65%;

}
.sec3-text {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust as needed */
  

}

.sec3-cards {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between image and text */
 
}

.sec3-cards div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 222, 6);
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.sec3-cards div:first-child img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.textwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px; /* Adjust as needed */
  max-width: 60%;
}

.sec3-cards h3 {
  font-size: 18px; /* Adjust as needed */
  margin: 0;
}

.sec3-cards p {
  font-size: 14px; /* Adjust as needed */
  margin: 0;
}


.sec3-image{
  max-width: 50%;
  height: 10%;
  width: 45%;
}
.sec3-image img {
  max-width: 75%;
  width: 75%;
  height: auto;
  border-radius: 15px;
}



@media (max-width: 768px) {
  .sec3-cards {
    flex-direction: column;
    align-items: center;
  }

  .sec3-cards {
    flex: 1 1 100%;
  }
}
