

header {
display: flex;
position: relative;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 500px;
margin :20px

}

.logo{
 position: relative;
 left: 7%;

}

.logo img{
   
   display:inline;
   width: 80px;
   height: 80px;
    }

.menuBar{
    position: relative;
    right: 35%;
    margin: 10px;

}