

header {
display: flex;
position: relative;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 500px;
margin :10px

}

.logo{
display:flex;
   margin: 10px;
}

.menuBar{
    margin: 10px;

}